
.about{
    padding: 80px 0px;
    .title{
        color: $primary-color;
        font-size: 1.375rem;
    font-weight: normal;
    }
    .grid-x{
        padding: 10px 0px;
        .cell{
            padding: 50px 0px;
            img{
                padding-bottom: 10px;
            }
        }
    }
}
.image-block-1 .first-img{
        max-width:75%;
        position: relative;
        height: auto;
        float: right;
    }

.image-block-1 .position-absolute-1{
    position: absolute;
    max-width: 23%;
    padding-top: 110px;
    margin-left: 100px;
}

.image-block-2 .first-img{
    max-width:75%;
    position: relative;
    height: auto;
    float: left;
}

.image-block-2 .position-absolute-2{
position: absolute;
max-width: 23%;
padding-top: 110px;
margin-left: 185px;
}