.about .grid-container .title{
        font-size: 1.375rem;
        font-weight: normal;
        color: $primary-color;
    }

.position-relative-1{
    position: relative;
    width: 75%;
    height: auto;
}
