.bottom-cell{
    background-color: #F0F4F7;

    
    h1{
        font-size: 1.875rem;
        padding: 40px 0 10px 0;
    }
    .lead{
        font-size: 125%;
    line-height: 1.6;
    color: #888888;
    }
    .card-cell{
        background: #fff;
        padding: 20px;
        box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.2);
        
                
    }
    .card-all{
        padding: 80px 20px;
    }
}




