header{
    .bar-in{
        .align-justify{
            -webkit-box-pack: justify;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
        }
        .small-logo{
            color:#fff;
            height: auto;
            font-size: 1.75rem;
           
        }
        .small-btn{
            color:#fff;
            padding-left: 10px;
              padding-right: 10px;
              background: linear-gradient(142deg, #fc4a1a, #f7b733);
              border-radius: 20px;
              display: inline-block;
              vertical-align: middle;
              margin: 0 0 1rem 0;
              padding: 0.85em 1em;
              width: 100px;
              &:hover{
                background: #333333;
                transition: all ease .15s;
              }
            
             
        }
        width: -webkit-fill-available;
        z-index: 10;
        
    }
    
    .header-top{
        background-image: url(../scss/image/about-4.jpg);
    width:100%; height: 75vh; position: relative;
    background-size: cover;
    z-index: 10;

    }
    .top-nav{
        height: auto;
        border-bottom: 1px solid #eee;
    }

    .overlay{
        position:absolute; 
        width:100%; 
        top:0; 
        left:0; 
        height: 75vh; 
        background: linear-gradient(142deg, rgba(211, 16, 39, 0.5), rgba(234, 56, 77, 0.5));
    }
    .top-nav .top-bar-main .main-item{
        padding: 1rem 1rem;
         font-weight: 300; font-size:1rem;
         
        
        &:hover{
            border-top: 2px solid white;
            
            transition: all ease .25s;
            color: $white;
        }
        
    }
    .dropdown{
        .menu-text{
            font-size: 1.75rem; color:#ffffff; font-weight: 500; cursor: pointer;
        }
    }
    .header-content{
        padding-top: 35vh;
        h1{
            font-size: 3.75rem; font-weight:700; color:#fff;
        }
        h3{
            font-size: 1.2rem; font-weight:600; color:#fff;
        }
    }
    
}



.dropdown .is-dropdown-submenu a {
    color: #888888;
    &:hover{
        color: $black;
    }
   
}
.header-content{
    color:$white;
    
    position: relative;
}

.top-nav .top-bar-main{
    display: flex;
    text-align: start;
    
    align-items:flex-end;
    margin-top: .5rem;

}

