header{
    .header-top{
        background-image: url(../scss/image/about-4.jpg);
    width:100%; height: 75vh; position: relative;
    background-size: cover;

    }
    

    .overlay{
        position:absolute; 
        width:100%; 
        top:0; 
        left:0; 
        height: 75vh; 
        background: linear-gradient(142deg, rgba(211, 16, 39, 0.5), rgba(234, 56, 77, 0.5));
    }
}



.dropdown .is-dropdown-submenu a {
    color: #888888;
    &:hover{
        color: $black;
    }
   
}
.header-content{
    color:$white;
    
    position: relative;
}
.top-nav{
    border-bottom: 1px solid #888888;
}
.top-nav .top-bar-main{
    display: flex;
    text-align: start;
    justify-content: center;
    align-items: center;
    margin-top: .5rem;

}
.top-nav .top-bar-main .main-item{
    padding: 1rem .7rem;
    &:hover{
        border-top: 2px solid white;
        transition: all ease .25s;
    }
    
}
