

header{
  
  background-size: cover;
  
}

.top-bar .menu-text{
  font-size: 1.75rem;
  
}

.section-title{
  font-size: 1.9375rem;
  line-height: 1.4;
    
  margin-bottom: 0.5rem;
}
.section-head{
  line-height: 1.6;
}

.action-bar{
  background: linear-gradient(142deg, #d31027, #ea384d);
  padding: 50px 0px;
  .section-head h1{
    
  color: #ffffff;
  font-size: 1.875rem;

  }
  
}