

header{
  
  background-size: cover;
  
}

.top-bar .menu-text{
  font-size: 1.75rem;
  
}

.section-title{
  font-size: 1.9375rem;
  line-height: 1.4;
    
  margin-bottom: 0.5rem;
}
.section-head{
  line-height: 1.6;
}