@include media-xm{
    header{
        .header-content{
            h1{
                font-size: 1.75rem;
                font-weight: 700;
            }
            h3{
                font-size: 1.2rem;
                font-weight: 600;
            }
        }
    }
    .bottom-cell{
        h1{
            font-size: 1rem;
        }
    }
    .section-title{
        font-size: 1.1875rem;
        margin-bottom: 0.5rem;
        line-height: 1.4;
    }
    .section-head{
        font-weight: 400;
        line-height: 1.5;
    }
    .about{
        .title{
            font-size: 1rem;
        }
        .desc{
            font-weight: 400;
            line-height: 1.5;
        }
        .position-absolute-1, .position-absolute-2{
            img{
                display: none;
            }
        }
        .image-block-1 {
            max-width:100%;
            position: relative;
            height: auto;
            float: right;
        }
        .image-block-2 {
            max-width:100%;
            position: relative;
            height: auto;
            float: left;
        }
        
        .grid-container{
            
            .reverse-sm{
                display: flex;
                flex-direction: column-reverse;
            }
            .cell{
                padding: 30px 0px;
            }
        }
    }
    .subscription{
        .section-title1{
            font-size: 1.1875rem;
            margin-bottom: 0.5rem;
            line-height: 1.4;
        }
        .section-head1{
            font-weight: 400;
            line-height: 1.5;
        }
        .pricing-table{
            margin-bottom: 50px;
        }
    }
    
    footer{
        .footer-section{
            h4{
                margin-top: 15px;
            }
        }
    }
}

@include media-sm{
    header{
        .header-content{
            h1{
                font-size: 1.75rem;
                font-weight: 700;
            }
            h3{
                font-size: 1.2rem;
                font-weight: 600;
            }
        }
    }
    .bottom-cell{
        h1{
            font-size: 1rem;
        }
    }
    .section-title{
        font-size: 1.1875rem;
        margin-bottom: 0.5rem;
        line-height: 1.4;
    }
    .section-head{
        font-weight: 400;
        line-height: 1.5;
    }
    .about{
        .title{
            font-size: 1rem;
        }
        .desc{
            font-weight: 400;
            line-height: 1.5;
        }
        .position-absolute-1, .position-absolute-2{
            img{
                display: none;
            }
        }
       
        
        .grid-container{
            
            .reverse-sm{
                display: flex;
                flex-direction: row;
            }
            .cell{
                padding: 30px 0px;
            }
        }
    }
    .subscription{
        .section-title1{
            font-size: 1.1875rem;
            margin-bottom: 0.5rem;
            line-height: 1.4;
        }
        .section-head1{
            font-weight: 400;
            line-height: 1.5;
        }
        .pricing-table{
            margin-bottom: 50px;
        }
    }
    
    
    footer{
        .footer-section{
            h4{
                margin-top: 15px;
            }
        }
    }
}

@include media-md{
    header{
        .menu .menu-text{
            padding: 0.7rem 0rem;
        }
        .header-content{
            padding-top: 30vh;
        }
        .top-nav .top-bar-main .main-item{
            padding: 1rem 1rem 1rem 0rem ;
             font-weight: 300; font-size:1rem;
            &:hover{
                border-top: 2px solid white;
                
                transition: all ease .25s;
                color: $white;
            }
    }
    }
    .bottom-cell{
    h1{
        font-size: 1.5rem;
    }
    }
  
}

@include media-lg{
    header{
        .header-content{
            padding-top: 25vh;
            h1{
                font-size: 3.75rem;
                font-weight: 700;
            }
            h3{
                font-size: 1.2rem;
                font-weight: 600;
            }
        }
    }
    .bottom-cell{
        h1{
            font-size: 1.875rem;
        }
    }
    .section-title{
        font-size: 1.9375rem;
        margin-bottom: 0.5rem;
        line-height: 1.4;
    }
    .section-head{
        font-weight: 400;
        line-height: 1.5;
    }
    .subscription{
        .section-title1{
            font-size: 1.9375rem;
            margin-bottom: 0.5rem;
            line-height: 1.4;
        }
        .section-head1{
            font-weight: 400;
            line-height: 1.5;
        }
        .pricing-table{
            margin-bottom: 50px;
        }
    }
    .swiper{
        .info{
            position: absolute;
            width: 85%;
            height: auto;
            
            left: 50%;
            bottom: 15%;
            transform: translate(-50%, 25%);
            background: #fff;
            
            border-radius: 5px;
        }
    }
    .sponsor{
        .swiper-pagination-1{
            display: none;
        }
    }
    .about{
        .grid-x{
            padding: 10px 0px;
            .cell{
                padding: 50px 0px;
                img{
                    padding-bottom: 10px;
                }
            }
        }
        .title{
            font-size: 1.375rem;
        }
        .image-block-1 {
            
            position: relative;
            height: auto;
            float: right;
        }
        .image-block-1 .first-img{
            max-width: 75%;
            float: right;
        }
        .image-block-2 .first-img{
            max-width: 75%;
            float: left;
        }
    
        .image-block-1 .position-absolute-1{
        position: absolute;
        max-width: 50%;
        
        transform: translate(40%, 65%);
        
        
        }
       .image-block-2 {
        max-width:75%;
        position: relative;
        height: auto;
        float: left;
        }
        .image-block-2 .position-absolute-2{
         position: absolute;
         max-width: 50%;
         transform: translate(60%, 65%);
         
         }
         .position-absolute-1, .position-absolute-2{
            img{
                display: block;
            }
        }

    }
}

