.donate-slider{
    background: #F0F4F7;
    padding: 70px 0px ;

    .nav-btn{
        
        z-index: 1;
        .button{
          padding-left: 10px;
          padding-right: 10px;
          background: linear-gradient(142deg, #d31027, #ea384d);
          border-radius: 20px;
          display: inline-block;
          vertical-align: middle;
          margin: 0 0 1rem 0;
          padding: 0.85em 1em;
          width: 100px;
          &:hover{
            background: #333333;
            transition: all ease .15s;
          }
      
        }
      }
    .shadow{
        background: #fff;
        box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.2);
        padding: 30px 0;
        margin: 30px 0;
        border-radius: 5px;

        .slider{
            position: relative;
            .slider-handle{
                
                border-radius: 100%;
                z-index: 99;
                background: linear-gradient(142deg, #d70027, #7300a5);;
            }
            .slider-fill{
                background: linear-gradient(142deg, #6859de, #f03774);
                width: 100%;
                }

            #dot-0{
                left: -2px;
                position: absolute;
                z-index: 9;
                top: -4px;
                background: #fff;
                border: 3px solid #d0dee8;
                height: 15px;
                width: 15px;
                border-radius: 100%;
            }

            #dot-25{
                left: 25%;
                position: absolute;
                z-index: 9;
                top: -4px;
                background: #fff;
                border: 3px solid #d0dee8;
                height: 15px;
                width: 15px;
                border-radius: 100%;
            }
            #dot-50{
                left: 49%;
                position: absolute;
                z-index: 9;
                top: -4px;
                background: #fff;
                border: 3px solid #d0dee8;
                height: 15px;
                width: 15px;
                border-radius: 100%;
            }
            #dot-75{
                left: 74%;
                position: absolute;
                z-index: 9;
                top: -4px;
                background: #fff;
                border: 3px solid #d0dee8;
                height: 15px;
                width: 15px;
                border-radius: 100%;
            }
            #dot-100{
                right: -1px;
                position: absolute;
                z-index: 9;
                top: -4px;
                background: #fff;
                border: 3px solid #d0dee8;
                height: 15px;
                width: 15px;
                border-radius: 100%;
            }
            
        }
        
    }
}
